*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  min-height: 60px;
  /* background-color: rgb(245, 245, 187); */
  border: 2px solid rgb(230, 36, 36);
  height: 100%;

}


#nav{
  height: 60px;
  background-color: #1A2530;
}


 #jambatron{
  height: 286px;
  background-color: #1ABC9C;
}


#portfolio{
  height: 100%;
  /* background-color: #FFFFFF; */
  /* background-color: rgb(245, 230, 230); */
}

.txt-up{
  height: 85px;
  /* border-bottom: 2px solid black; */
  margin-bottom: 10px;
  
}

.albums img{
  height: 100px;
  width: 150px;
  background-color: red;
  margin-top: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}


#abaut{
  height: 100%;
  background-color: #10715E;
}

.ac-container{
  width: 60%;
  margin: 0 auto;
  height: 100%;

}

button{
  margin-top:10px ;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
}
.bt{
  width: 100px;
  background-color: #1ABC9C;
  color: white;
  
}

.bt.text-center{
  text-align: center;
}


#contact{
  height: 100%;
  background-color: rgb(240, 235, 229);
}

input{
  width: 100%;
  height: 55px;
  
}
 .msg-txt{
  height: 200px;
}




.footer-up{
  height: 115px;
  background-color: #3A546D;

}

.footer-down{
  height: 50px;
  background-color: #2C3E50;

}

.box-up{
  margin-top: 30px;
}

.box-down{
  margin-top: 30px;
}