*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  height: 100%;
  background-color: rgb(235, 178, 178);

}

nav .row{
  height: 40px;
  background-color: #1A2530;
}

 #vioport1{
  height: 350px;
  background-color: #10715E;
}


#vioport2{
  height: 423px;
  /* background-color: #FFFFFF; */
  background-color: brown;
}


#vioport3{
  height: 438px;
  background-color: #10715E;
}


#vioport4{
  height: 340px;
  background-color: rgb(241, 152, 19);
}




.footer-up{
  height: 115px;
  background-color: #3A546D;

}

.footer-down{
  height: 50px;
  background-color: #2C3E50;

}

.box-up{
  margin-top: 30px;
}

.box-down{
  margin-top: 30px;
}