*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  min-height: 60px;
  background-color: rgb(245, 245, 187);
  border: 2px solid rgb(230, 36, 36);
  height: 100%;

}


#nav{
  height: 60px;
  background-color: #1A2530;
}


 #jambatron{
  height: 286px;
  background-color: #1ABC9C;
}


#portfolio{
  height: 100%;
  /* background-color: #FFFFFF; */
  background-color: rgb(245, 230, 230);
}

.txt-up{
  height: 85px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  
}

.albums img{
  height: 100px;
  width: 150px;
  background-color: red;
  margin-top: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}


#vioport3{
  height: 450px;
  background-color: #10715E;
}


#vioport4{
  height: 340px;
  background-color: rgb(241, 152, 19);
}




.footer-up{
  height: 115px;
  background-color: #3A546D;

}

.footer-down{
  height: 50px;
  background-color: #2C3E50;

}

.box-up{
  margin-top: 30px;
}

.box-down{
  margin-top: 30px;
}